* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 #ae8b4a;
}

.kle {
    height: 200px;
}