* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: #000000e0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result {
    border: 1px solid white;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    color: white;
}

#myResult, #programResult {
    display: inline-block;
    min-width: 50px;
}

.cont {
    box-shadow: 2px 2px 5px #fff;
    border-radius: 4px;
    display: flex;
    padding: 20px;
    user-select: none;
}

.cont h1 {
    color: white;
    text-align: center;
    font-weight: normal;

}

/* .my-side, .program-side {
    
} */

.my-side .actions, .program-side .actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.program-side {
    display: flex;
    flex-direction: column;
}

.program-side .actions {
    height: 100%;
}

.action {
    font-size: 90px;
    cursor: pointer;
}

